.card {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card_header {
    display: flex;
    flex-direction: row; /* dirección en que se distribuirán los elementos (horizontal) */
    justify-content: space-between; /* alineación horizontal de los elementos */
    align-items: center; /* alineación vertical de los elementos */
    margin-bottom: 20px;

  }
  
  .card_footer {
    margin-top: 20px;
  }
  
  .card_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .card_table td {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
  }
  
  .card_table td:first-child {
    background-color: #f5f5f5;
    text-align: center;
  }

  .cuadraditoColor {
    background-color: blue;
    width: 15px;
    height: 15px;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* divide el contenedor en dos columnas del mismo tamaño */
    gap: 10px; /* añade un poco de espacio entre las columnas */
  }
  
  .column {
    padding: 10px; /* añade un poco de espacio alrededor del contenido de cada columna */
  }
  
  