.slider {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide_track {
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(174px * 27);
}

.slider .slide {
    width: 174px;
    height: 134px;
}

.slider .slide img {
    width: 150px;
    height: 134px;
    display: block;
    margin: 0 auto;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-174px * 16));
        transform: translateX(calc(-174px * 16));
    }
}