#imgContainer{
}

#Card {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 330px;
    height: 350px;
}

#Card2{

}




.card img {
    width: 200px;
}

  