.logout{
    background-color: rgb(228, 117, 43);
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: auto;
    cursor: pointer;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    white-space:nowrap;
    color: black;
    font-weight: 600;
}
.logout:hover{
    text-decoration: underline;
}
