.container {
    border: 1px solid black;
    display: flex;
    padding: 20px;
    background-color: rgb(44, 44, 37);
    border-radius: 5px;
}

.select {
    height: 30px;
    width: 35%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(255, 132, 50);
    background-color: transparent;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;

}

.select:focus{
    border-color: #dee2e6;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid rgb(255, 132, 50);
    
}

.select:hover{
    cursor: pointer;
}

.select option {
    background-color: rgb(44, 44, 37);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}