.container {
    /* border: 2px solid black; */
    height: 920px;
}

.textos {
    /* border: 2px solid black; */
    height: 250px;
    width: 70rem;
    justify-content: center;
    margin: 0 auto;
}

.textos h1 {
    font-size: 40px;
    font-family: Rubik,sans-serif;
    font-style: italic;
    text-align: center;
    padding: 20px;

    color: #f8943c;
    margin: 0 auto;
}

.textos p {
    font-size: 18px;
    width: 1000px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    font-family: Montserrat,sans-serif;
    font-style: italic;
}

.fotos {
    /* border: 2px solid black; */
    padding-top: 40px;
    height: 350px;
    width: 80rem;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
}

.fotos2 {
    /* border: 2px solid black; */
    height: 550px;
    width: 80rem;
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
}

.persona {
    height: 310px;
    width: 300px;
}
.persona img {
    width: 180px;
    height: 180px;
    border-radius: 200px;
    box-shadow: 0px 4px 10px black;
    display: flex;
    margin: 0 auto;
}
.persona h5{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat,sans-serif;
}
.persona p{
    text-align: center;
    font-size: 15px;
    font-family: Montserrat,sans-serif;
    color: rgb(160, 160, 160);
}

.icons {
    display: flex;
    width: 110px;
    margin: 0 auto;
    padding-top: 7px;
    justify-content: space-around;
}
.icons img{
    width: 30px;
    height: 30px;
}


