@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


#HeaderContainer{
    background-color: rgb(44, 44, 37);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
}

#NavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px 0 10px;
}

#logoContainer, #logoContainer img {
    width: 300px;
    margin-right: 15px;
}


#shoppingCartContainer{
    background-color: rgb(161, 163, 165);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    /* margin-left: 200px; */
}

#shoppingCartContainer:hover:not(div img){
    /* animation:  shaking infinite 2s; */
    background-color: #ffdf58;
}

@keyframes shaking {
    5%{
        transform: translate(0px, 0);
    }
    10%{
        transform: translate(2px, 0);
    }
    15%{
        transform: translate(0px, 0);
    }
    20%{
        transform: translate(2px, 0);

    }
    25%{
        transform: translate(0px, 0);
    }
    30%{
        transform: translate(2px, 0);

    }
    35%{
        transform: translate(0px, 0);

    }
    40%{
        transform: translate(2px, 0);

    }
    45%{
        transform: translate(0px, 0);

    }
    50%{
        transform: translate(2px, 0);
    }
    55%{
        transform: translate(0px, 0);
    } 
}

#shoppingCartContainer >:nth-child(1){
    width: 40px;
    height: 40px;
    box-shadow: 0 0 50px 2px #fd611a;
    z-index: 11;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#shoppingCartContainer  img{
    padding-top: 2px;
    width: 30px;
    pointer-events: none;
    user-select: none;
}
#loggingAndCart{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logging{
    margin-left: 20px;
    background-color: rgb(228, 117, 43);
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(24, 23, 23);
}

#logging:active{
    transform: scale(1.05);
}

#logging img {
    width: 20px;
    margin-right: 5px;
}



#linkLoggind{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #2c2c25;
}


#shoppingCartContainer> :nth-child(2){
    border-radius: 10px;
    background-color: #2c2c25;
    width: 440px;
    /* height: 380px; */
    position: absolute;
    right: -90px;
    top: 105%;
    z-index: 10;
    display: flex;
    align-items: start;
    justify-content: center;
    box-shadow: 0 0 50px 1px #fd621ac3;
    overflow: hidden;
}
#shoppingCartContainer> :nth-child(2)>:first-child{
    transition: all .5s ease-in-out;
}

#itemNumber{
    position: absolute !important;
    display: flex;
    width: 25px;
    background-color:#fd611a;
    height: 25px;
    top: -20px;
    right: 0;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: rgb(23, 24, 24);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
<<<<<<< HEAD

.admin{
    height: 40px;
    background-color: rgb(228, 117, 43);
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}
.admin:hover {
    color: black;
=======
#navar_profile_section{
    position: relative;
}
#navar_profile_section_profile{
    border-radius: 50%;
}
#navar_profile_section:hover #desplegable_navar_profile_section{
    display: block;
}
#desplegable_navar_profile_section::after{
    background-color: transparent;
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    top: calc(0% - 8px);
}
#navar_profile_section_profile:hover{
    box-shadow: 0 0 1px 1px rgb(219, 118, 30);
}
#desplegable_navar_profile_section{
    background-color: rgb(40, 41, 40);
    position: absolute;
    top: calc(100% + 3px);
    padding: 2px 2px 3px 2px;
    right: 50%;
    border-radius: 6px;
    box-shadow: 0 0 15px 0.5px rgb(141, 135, 135);
    transform: translateX(50%);
    display: none;
}

#buttonAdmin{
    color: white;
    border: none;
    padding: 6px 0;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    cursor: pointer;
    font-style: italic;
}
#buttonAdmin:hover{
    text-decoration: underline;
>>>>>>> 294f5281eafd815d4c5e22d2e36865527763ec4b
}