@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


#HeaderContainer{
    background-color: rgb(44, 44, 37);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#NavBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    width: 100%;
    max-width: 1200px;
}

#logoContainer, #logoContainer img {
    width: 300px;
}


#shoppingCart{
    background-color: rgb(161, 163, 165);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#shoppingCart > img{
    padding-top: 5px;
    width: 30px;
}



#loggingAndCart{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logging{
    margin-right: 20px;
    background-color: rgb(255, 132, 50);
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#logging img {
    width: 20px;
    margin-right: 5px;
}

#logging span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}