#SliderContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#SliderContainer div{
    margin: 0 0 50px 0;
    width: 100%;
    max-width: 1800px;
    overflow: hidden;
}


#SliderContainer ul{
    width: 500%;
    padding: 0;
    display: flex;
    animation: sliding 12s infinite alternate  ease-in-out;
    margin: 0;
}
#SliderContainer ul:hover{
    /* animation-play-state: paused; */
}

#SliderContainer ul li {
    cursor: pointer;
    list-style: none;
    width: 100vw;
    max-width: 1800px;
  }
  
  #SliderContainer ul li img {
    width: 100%;
  }

  @keyframes sliding {
    0%{
        margin-left: 0;
    }20%{
        margin-left: 0;
    }

    22%{
        margin-left: -100%;
    }42%{
        margin-left: -100%;
    }

    44%{
        margin-left: -200%;
    }64%{
        margin-left: -200%;
    }

    66%{
        margin-left: -300%;
    }86%{
        margin-left: -300%;
    }
    
    88%{
        margin-left: -400%;
    }100%{
        margin-left: -400%;
    }

  }