#SidebarContainer{
    width: 300px;
    font-family: Montserrat,sans-serif;
    background-color: white;
    color: #000000d9;
    transition: all 2s;
    cursor: auto;
    box-shadow: 
    0 -2px 10px -1px rgba(0, 0, 0, 0.20),
    0 -2px 12px -1px rgba(0, 0, 0, 0.14), 
    0 -1px 15px -1px rgba(0, 0, 0, 0.12);
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}
#SidebarContainer> h1{
  color: #fd611a;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 600;
  cursor: default;
  user-select: none;
}


#categoryContainer{
  display: block;
}



#categoryIcon{
  margin-right: 5px;
}

#categoryTitle{
  width: 100%;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
}

.arrows{
  width: 15px ;
  rotate: -90deg;
  transition: rotate 0.5s;
}

#arrowActive{
  rotate: -270deg;
}


#categoryTitle:hover{
  background-color: #f5f5f5;
}


#childsContaier{
  padding-top: .50em;
  overflow: hidden;
  font-weight: 300;
  font-size: 13px;
  padding: 0 0 0 30px;
  font-style: italic;
  height: 0;
  transition: height 0.3s ease-in-out;
}

#childsContaier.categoryActive{
  height: 50px;
}
#childsContaier.categoryActiveOneElement{
  height: 25px;
  transition: height 150ms ease-in-out;
}


#childsContaier >span > p{
  height: 20px;
  margin-bottom: 5px;
  color: #878787;
  display: inline-block;
  width: calc(100% - 9px);
  cursor: pointer;
}

#childsContaier > span > p:hover{
  text-decoration: underline;
}

#childsContaier > #categoryPick{
  color: #fd611a ;
}

#childsContaier > #categoryPick>p{
  color: #fd611a ;
  text-decoration: underline;
}