#Container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

#productsContainer{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 1200px;
    margin-top: 20px;
}


#productsContainer section{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}