#Container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    min-height: 587px;
}

#productsContainer{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 1200px;
    margin-top: 20px;
    padding-right: 6vw;
    min-height: 567px;
}


#productsContainer section{
    margin-left: 20px;
}

#categoryPick{
    margin-top: 5px;
    background-color: #fd611a;
    display: inline-block;
    height: 30px;
    text-align: center;
    padding: 3.5px 25px 3px 10px;
    font-family: Montserrat,sans-serif;
    border-radius: 8px;
    color: #fefefe;
    position: relative;
}
#categoryPick > H2{
    display: inline-block;
    font-size: 11.5px;
}
#categoryPick > H3{
    display: inline-block;
    background-color: #fefefe;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 13px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    color: #fd611a;
    cursor: pointer;
}


@media screen and (max-width:1300px) {
    #productsContainer{
        padding-right: 0;
    }
}