@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

#MisComprasContaier{
    min-height: calc(100vh - 200px);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #ededed;
}
#MisComprasContaier > :nth-child(1){
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 200px);
    padding: 20px 20px 30px 20px;
}
#titleMisCompras{
    padding: 40px 92px 10px 92px;
    font-style: italic;
    font-family: 18px;
}
#titleMisCompras h1{
    font-size: 28px;
}