.fondo {
    background-color: #eeeeeeee;
    min-height: calc(100vh - 200px);
    font-style: italic;
    font-weight: 500;
    color: #302c24;
}

.container {
    width: 1200px;
    font-family: Montserrat, sans-serif !important;
    margin: 0 auto;
    display: block;
    padding-bottom: 24px;
}
#topProfile{
    display: flex;
    padding: 0 30px;
    align-items: center;
}
#topProfile>:nth-child(1){
    flex-grow: 1;
}
.titulo {
    margin:30px;
    font-size: 35px;
    font-style: normal;
}

.volver{
    margin:30px;
    font-size: 20px;
    font-style: normal;
    display: inline;    
    color:#fd6119;
    text-decoration: none;
}

.volver:hover {
    cursor: pointer;
    color: black;
}



.derecha {
    width: 450px;
    height: 600px;
    position: absolute;
    margin-top: 80px;
    margin-left: 750px;
}

.cuadro1 {
    margin: 0px 0 30px 0;
}

.cuadro1 h2 {
    font-size: 20px;
    color:#fd6119;
}

.cuadro1 p {
    padding: 2px 20px;
    font-size: 15px;
}


.cuadro2 {


}
#mainProfile{
    background-color: #fefefe;
    border-radius: 6px;
    padding: 24px;
    margin: 20px 0 20px 0;
}
.containerButtonsToSections{
    text-align: center;
    padding-top: 20px;
}
.buttonsToSections{
    background-color: #fd6119;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fefefe;
    border-radius: 3px;
}
.buttonsToSections:hover{
    transform: scale(1.04);
}
.cuadro2 h2 {
    font-size: 20px;
    color: #fd6119;
}

.cuadro2 p {
    font-size: 15px;
    margin-top: 10px;
}
.cuadro3 h2 {
    padding: 10px 20px;
    font-size: 20px;
    color: #fd6119;
}

.cuadro3 p {
    padding: 2px 20px;
    font-size: 15px;
}

.cuadro4 {
    background-color: white;
    width: 400px;
    height: 140px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
}

.cuadro4 h2 {
    padding: 10px 20px;
    font-size: 20px;
    color: #fd6119;
}

.cuadro4 p {
    padding: 2px 20px;
    font-size: 15px;
}

.cuadro5 {
    background-color: white;
    width: 400px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
}

.cuadro5 h2 {
    padding: 10px 20px;
    font-size: 20px;
    color: #fd6119;
}

.cuadro5 p {
    padding: 2px 20px;
    font-size: 15px;
}

.direccion {
    margin-left: 140px;
    margin-top: 35px;
    height: 40px;
    background-color: #fd6119;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}



.cuadro6 {
    background-color: white;
    width: 400px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(194, 194, 194);
}

.carrito {
    height: 40px;
    width: 140px;
    background-color: #fd6119;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 30px 40px;
}
#compraStatus > #entregado{
    max-height: 25px;
    color: #05b022;
    font-size:14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-grow: 0;
    background-color: #2c2c25 ;
    border-radius: 6px;
    padding: 1px 4px;
}
.datos {
    height: 40px;
    width: 140px;
    background-color: #fd6119;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.salir {
    height: 40px;
    width: 140px;
    background-color:#fd6119;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 5px 135px;
}
#CardMisComprasContainer{
    background-color: #ffffff;
    margin: 0px 0 20px 0;
    font-family: 'Poppins', sans-serif;
}
#fechaContainer{
    border-bottom: 1px solid rgba(86, 85, 85, 0.314);
    font-size: 14px;
    display: flex;
    align-items: center;
}
#fechaContainer >:nth-child(1){
    flex-grow: 1;
}
#fechaContainer >:nth-child(2){
    display: inline-block;
    text-align: end;
}
#fechaContainer >:nth-child(2)>button{
    background-color: #302c24;
    border: none;
    padding: 7px 8px;
    border-radius: 6px;
    color: #fefefe;
    font-size: 13px;
    cursor: pointer;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}
#fechaContainer >:nth-child(2)>button:hover{

}
#fecha{
    padding: 16px 24px;
}
#fecha{
    width: 75%;
}
#mainCardMisCompras{
    padding: 24px;
    text-align: right;
}
#mainCardMisCompras :nth-child(1){
    display: flex;
}
#precioSection{
    width: 25%;
    text-align: end;
}
#precioSection label{
    text-align: center;
    justify-content: end;
}
#precioSection label span{
    margin-left: 5px;
}
#precioSection h4{
    margin-left: 4px;
}
#deliveryStatus{
    width: 25%;
    font-weight: 500;
}
#productosCantidad{
    width: 25%;
}
#productosCantidad label span{
    margin-left: 5px;
}
#compraStatus > #pendiente{
    max-height: 25px;
    color: #fff93e;
    font-size:14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-grow: 0;
    background-color: #2c2c25 ;
    border-radius: 6px;
    padding: 1px 4px;
}
#compraStatus  img{
    height: 15px;
    margin-right: 3px;
}
#direction{
    width: 25%;
}
#direction label span{
    margin-left: 5px;
}
#lastComprasContainer{
    padding-top: 20px;
}
#lastComprasContainer h3{
    font-weight: 600;
    font-size: 17px;
}
