#ProductsPanelContainer{
    /* background-color: red; */
    min-height: 100%;
  }
   #card{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
  .card {
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 20px auto;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .card_header {
      display: flex;
      flex-direction: row; /* dirección en que se distribuirán los elementos (horizontal) */
      justify-content: space-between; /* alineación horizontal de los elementos */
      align-items: center; /* alineación vertical de los elementos */
      margin-bottom: 25px;
  
    }
    #card>:nth-child(1){
      color: #dc5416;
      font-style: italic;
    }
    #card>:nth-child(2){
      color: #dc5416;
      font-style: italic;
  
    }
    .card_footer {
      margin-top: 20px;
    }
    .card_footer>p{
      font-style: oblique;
      color: #707070;
    }
    
    #tableContainer{
      width: 100%;
    }
  
    .card_table >:nth-child(2):not(:nth-child(1)) tr:hover{
      background-color: #e9e3e3;
    }
    .card_table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      overflow: hidden;
    }
    .card_table th{
      width: 100px;
    }
    
    .card_table td {
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;
      border: 1px solid #ccc;
      height: 100px;
      max-width: calc(20vw - 70px);
      height: auto;
      white-space: normal;
      word-wrap: break-word;
    }
    
    .card_table td:first-child {
      text-align: center;
    }
  
    .buttons {
      border: none;
      color: #fff;
      margin-left: 10px;
      background-color: #fd611a;
      border-radius: 15px;
      background-size: 100% auto;
      font-family: inherit;
      font-size: 17px;
      padding: 10px 25px;
      cursor: pointer;
     }
     
     .buttons:hover {
      background-position: right center;
      background-size: 200% auto;
      -webkit-animation: pulse 2s infinite;
      animation: pulse512 1.5s infinite;
     }
     
     @keyframes pulse512 {
      0% {
       box-shadow: 0 0 0 0 #fd611a;
      }
     
      70% {
       box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
      }
     
      100% {
       box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
      }
     }
  
     .searchBar {
      width: 100%;
      max-width: 220px;
      height: 45px;
      padding: 12px;
      border-radius: 12px;
      border: 1.5px solid lightgrey;
      outline: none;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      box-shadow: 0px 0px 20px -18px;
    }
    
    .searchBar:hover {
      border: 2px solid lightgrey;
      box-shadow: 0px 0px 20px -17px;
    }
    
    .searchBar:active {
      transform: scale(0.95);
    }
    
    .searchBar:focus {
      border: 2px solid grey;
    }
  
    .loader {
      --height-of-loader: 4px;
      --loader-color: #fd611a;
      width: 100%;
      height: var(--height-of-loader);
      border-radius: 30px;
      background-color: rgba(0,0,0,0.2);
      position: relative;
     }
     
     .loader::before {
      content: "";
      position: absolute;
      background: var(--loader-color);
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 30px;
      animation: moving 1s ease-in-out infinite;
     }
     
     @keyframes moving {
      50% {
       width: 100%;
      }
     
      100% {
       width: 0;
       right: 0;
       left: unset;
      }
     }
  
     #sectionButtons{
      padding: 8px 10px;
      width: 100%;
      max-width: 300px;
      display: inline-block;
     }
     #sectionButtons button{
      border-radius: 4px;
      /* background-color: red; */
      padding: 3px 5px;
      cursor: pointer;
      width: 80px;
     }
     #sectionButtons :nth-child(1){
      /* background-color: yellow; */
      margin-bottom: 2px;
     }
     #sectionButtons :nth-child(1) button{
      background-color: rgba(16, 151, 16, 0.89);
      border:1px solid rgb(11, 120, 11);
      color: #ffffff;
      width: 50px;
     }
     #sectionButtons :first-child :nth-child(2){
      margin-left: 4px;
     }
     #sectionButtons :nth-child(1){
      background-color: rgba(215, 16, 16, 0.856);
      color: #fefefefe;
      border: 1px solid rgb(174, 11, 11);
     }

     .buttonRoleAdmin {
      background-color: orange;
      width: 100px;
      height: 35px;
      border-radius: 5px;
      color: beige;
     }

     .buttonRoleAdmin:hover span {
      display: none;
     }

     .buttonRoleAdmin:hover:before {
      content: 'Cambiar a Cliente';
     }

     .buttonRoleAdmin:hover {
      background-color: green;
    }

    #card_body{
      width: 100%;
    }
     .buttonRoleClient {
        background-color: blue;
        width: 100px;
        height: 35px;
        border-radius: 5px;
        color: beige;
     }

     .buttonRoleClient:hover span{
      display: none;
     }

     .buttonRoleClient:hover:before {
      content: 'Cambiar a Admin';
     }

     .buttonRoleClient:hover {
      background-color: green;
    }
    
