
#NavBarContainer{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    font-family: 'Roboto Condensed', sans-serif;

}


#NavBarContainer ul {
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 15px 0;
    font-size: 18px;
    font-style: italic;
}

#NavBarContainer ul li:hover{
    color: #fea14d;
    transition: all 150ms;
    transform: scale(1.1);
    cursor: pointer;
}