
#NavBarContainer{
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    font-family: 'Roboto Condensed', sans-serif;
    height: 50px;
}


#NavBarContainer ul {
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 15px 0;
}

#NavBarContainer ul a{
    text-decoration: none;
}

#NavBarContainer ul li {
    font-style: italic;
    color: #fefefe;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

#NavBarContainer ul li:hover{
    color: #fcb679dc;
    transition: all 150ms;
    transform: scale(1.1);
    cursor: pointer;
}

#NavBarContainer ul #active{
    color: #f8943c;
    transform: scale(1.03);
}